<a href="https://colab.research.google.com/github/JuMayumiC/Meninas-Programadoras/blob/main/Semana%204%20/%20MP1T18_aula_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nome = 'Maria da Graça'
parte = 'maria'
if parte in nome:
  print('ok')
else:
  print('nope')

nope

In [ ]:
nome = 'Maria da Graça'
parte = 'Maria'
if parte in nome:
  print('ok')
else:
  print('nope')

ok

##Dada uma letra, ela é uma vogal?

In [ ]:
vogais = 'aeiouAEIOU'
letra = input()
if letra in vogais:
  print('vogal')
else:
  print('nao vogal')

i
vogal

In [ ]:
frutas = ['banana', 'caqui', 'laranja']
vogais = ['a', 'e', 'i', 'o', 'u']
precos = [12, 15, 19.5, 23, 9.99]
vazia = []
palavras_reservadas = ['if', 'else', 'elif', 'while', 'in', 'not']
funcoes_prontas = ['input', 'print', 'float', 'int', 'str']

In [ ]:
nome = 'abacaxi'  # pg 165
frutas = ['uva', 'carambola']
nome = frutas     # pg 73
print(nome)
print(frutas)

In [ ]:
cateto1 = int(input())
cateto2 = int(input())
hipotenusa = cateto1 * cateto1 + cateto2 * cateto2
hipotenusa = (hipotenusa)**(1/2)
print(hipotenusa)

6
9
10.816653826391969

In [ ]:
palavras_reservadas = ['if', 'else', 'elif', 'while', 'in', 'not']
funcoes_prontas = ['input', 'print', 'float', 'int', 'str']
nome = input()
if nome in palavras_reservadas:
  print('palavra reservada')
elif nome in funcoes_prontas:
  print('função pronta')
else:
  print('pode ser nome de variavel se nao começar com digito nem simbolos especiais')

1nome
pode ser nome de variavel se nao começar com digito nem simbolos especiais

#**exemplo horroroso....**

In [ ]:
palavras_reservadas = ['if', 'else', 'elif', 'while', 'in', 'not']
funcoes_prontas = ['input', 'print', 'float', 'int', 'str']
digitos = '0123456789'
especiais = '!@#$%¨&*()-'

nome = input()
if nome in palavras_reservadas:
  print('palavra reservada')
elif nome in funcoes_prontas:
  print('função pronta')
else:
  primeiro_caractere = nome[0]  # pego o primeiro caractere de nome
  if primeiro_caractere in digitos:
    print('nome de variavel nao pode começar com digito')
  elif primeiro_caractere in especiais:
    print('nome de variavel nao pode começar com especial')
  else:
    print('pode ser nome de variavel (quase)')

*resposta
nome de variavel nao pode começar com especial

In [ ]:
1nome = input()  #errado
print(1nome)

## Regras para nome de variavel

1. só pode conter letras ou digitos ou '_'
1. nao pode ser palavra reservada
1. nao pode começar com digito
1. pode começar com letra ou '_'

In [ ]:
nome = 'Maria da Graça'
caractere = nome[0]
print(caractere)

caractere = nome[1]
print(caractere)

caractere = nome[2]
print(caractere)

caractere = nome[3]
print(caractere)

caractere = nome[4]
print(caractere)

caractere = nome[5]
print(caractere)

caractere = nome[6]
print(caractere)

M
a
r
i
a

d

In [ ]:
nome = 'Maria da Graça'
caractere = nome[0]
print(caractere)
caractere = nome[-14]
print(caractere)

M
M

In [ ]:
nome = 'Maria da Graça'
caractere = nome[0]
print(caractere)

caractere = nome[1]
print(caractere)

caractere = nome[2]
print(caractere)

caractere = nome[3]
print(caractere)

caractere = nome[-3]
print(caractere)

caractere = nome[-2]
print(caractere)

caractere = nome[-1]
print(caractere)

M
a
r
i
a
ç
a

In [ ]:
alturas = [1.55, 1.61, 1.78, 1.55, 1.79, 1.46, 1.41, 1.79]
altura = alturas[0]
print(altura)
altura = alturas[-1]
print(altura)
print(alturas)

tamanho = len(alturas)
indice = int(input())
valor = alturas[indice]
print('na posicao', indice, 'a altura é', valor)

1.55
1.79
[1.55, 1.61, 1.78, 1.55, 1.79, 1.46, 1.41, 1.79]

In [ ]:
alturas = [1.55, 1.61, 1.78, 1.55, 1.79, 1.46, 1.41, 1.79]
tamanho = len(alturas)
indice = int(input()) 
if indice > 0 and indice < tamanho:
  valor = alturas[indice]
  print('na posicao', indice, 'a altura é', valor)
else:
  print('indice mínimo é 0 e máximo é', tamanho-1)

-8765
indice mínimo é 0 e máximo é 7


```
        0     1         2      3
lista-> Karen Grazielle Sofhia Poly
lista-> Karen
lista->

        0     1         2      3
lista-> Karen Grazielle Sofhia Poly
tamanho: 4
indice do último elemento: 3
```

In [ ]:
lista1 = ['Sofhia', 'Beatriz', 'Karen', 'Ana Luiza', 'Renata']
print(lista1)
print(lista1[0])
print(lista1[1])
print(lista1[2])
print(lista1[3])
print(lista1[-1])

['Sofhia', 'Beatriz', 'Karen', 'Ana Luiza', 'Renata']
Sofhia
Beatriz
Karen
Ana Luiza
Renata

In [ ]:
nome = input()
comprimento = len(nome)
print('nome tem ', comprimento, 'caracteres')

lista = [1, 2, 4, 8, 3, 0, 1]
numero_itens = len(lista)
print('lista tem ', numero_itens, 'itens')

lista = [1, -99, 0.987, 2, 4, -1, -18, 3, 0, 1]
numero_itens = len(lista)
print('lista tem ', numero_itens, 'itens')

KeyboardInterrupt: ignored

In [ ]:
lista_alturas_alunas_MP1T18 = [1.55, 1.61, 1.78, 1.55, 1.79, 1.46, 1.41, 1.81]
tamanho = len(lista_alturas_alunas_MP1T18)
indice = 0
while indice < tamanho:
  print(indice, '<', tamanho)
  print(indice, ':', lista_alturas_alunas_MP1T18[indice])
  indice = indice + 1

0 < 8
0 : 1.55
1 < 8
1 : 1.61
2 < 8
2 : 1.78
3 < 8
3 : 1.55
4 < 8
4 : 1.79
5 < 8
5 : 1.46
6 < 8
6 : 1.41
7 < 8
7 : 1.81

In [ ]:
lista_alturas_alunas_MP1T18 = [1.55, 1.61, 1.78, 1.55, 1.79, 1.46, 1.41, 1.81]
tamanho = len(lista_alturas_alunas_MP1T18)
indice = 0
contador = 1
while contador <= tamanho:
  print(indice, '<', tamanho)
  print(indice, ':', lista_alturas_alunas_MP1T18[indice])
  indice = indice + 1
  contador = contador + 1

0 < 8
0 : 1.55
1 < 8
1 : 1.61
2 < 8
2 : 1.78
3 < 8
3 : 1.55
4 < 8
4 : 1.79
5 < 8
5 : 1.46
6 < 8
6 : 1.41
7 < 8
7 : 1.81

In [ ]:
gatas = ['Tri', 'Bel', 'Groot']
for item in gatas:
  print(item)

Tri
Bel
Groot

In [ ]:
gatas = ['Tri', 'Bel', 'Groot', 'Ziggy', 'Blue', 'Cléo']
for gata in gatas:
  print(gata)

Tri
Bel
Groot
Ziggy
Blue
Cléo

In [ ]:
frutas = ['banana', 'abacaxi', 'uva', 'caqui']
for fruta in frutas:
  print(fruta)

banana
abacaxi
uva
caqui

In [ ]:
linha = input()
for caractere in linha:
  print(caractere)

Helen Picoli
H
e
l
e
n

P
i
c
o
l
i

In [ ]:
gatas = ['Tri', 'Bel', 'Groot', 'Ziggy', 'Blue', 'Cléo']
contador = 0
for gata in gatas:
  contador = contador + 1
print(contador)

6

In [ ]:
#função len()
linha = input()
contador = 0
for letra in linha:
  contador = contador + 1
print(contador)

Helen Picoli
12

In [ ]:
#função len()
linha = input()
contador = 0
for letra in linha:
  contador = contador + 1
print(contador)

In [ ]:
n = int(input())
for item in range(n):
  print(item)

5
0
1
2
3
4

In [ ]:
n = int(input())
for item in range(1,n):
  print(item)

9
1
2
3
4
5
6
7
8

In [ ]:
n = int(input())
for item in range(1,n,2):
  print(item)

21
1
3
5
7
9
11
13
15
17
19

In [ ]:
gatas = ['Tri', 'Bel', 'Groot']
gata = input()
gatas.append(gata)
print(gatas)

Sasha
['Tri', 'Bel', 'Groot', 'Sasha']

In [ ]:
gatas = []
gata = input()
gatas.append(gata)
print(gatas)

Batman
['Batman']

In [ ]:
n = int(input())
gates = []
for item in range(n):
  gate = input()
  gates.append(gate)
print(gates)

8
luna
cipo
beto
melog
suzie
tardelli
marta
theo
['luna', 'cipo', 'beto', 'melog', 'suzie', 'tardelli', 'marta', 'theo']

In [ ]:
n = int(input())
felinos = []
for contador in range(n):
  nome = input()
  felinos.append(nome)
print(felinos)

4
ana
bia
duda
carol
['ana', 'bia', 'duda', 'carol']

In [ ]:
lista = []
n = int(input())
for item in range(n):
  nome = input()
  lista.insert(0,nome)
print(lista)

3
Isabella
Ana Luiza
Renata
['Renata', 'Ana Luiza', 'Isabella']

In [ ]:
lista = []
n = int(input())
for item in range(n):
  nome = input()
  lista.insert(0,nome)
print(lista)
nome = lista.pop()   # retira a ultima
print(lista)
nome = lista.pop(0)  # retita a primeira
print(lista)

3
Ana
Duda
Helen
['Helen', 'Duda', 'Ana']
['Helen', 'Duda']
['Duda']