<a href="https://colab.research.google.com/github/JuMayumiC/Meninas-Programadoras/blob/main/Semana%202%20/%20t18_aula_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**1. RETOMANDO A AULA ANTERIOR**

**Sintaxe para incluir strings em nossos programas**
- usamos aspas simples ou aspas duplas como limitadores
- se precisamos de uma na string, utilizamos a outra como limitador

In [ ]:
# exemplo de comentario

doutora = "Dra."
senhora = "Sra."
senhorita = 'Srta.'
#exemplo1 = 'Caixa D'agua'
exemplo1 = "Caixa D'agua"
exemplo2 = 'ela disse: "Venceremos!" e saiu...'

In [ ]:
nome = 'Poly'
nomeA = nome
nomeB = 'nome'
nomeC = "Maria"

aluna = nome
monitora = input()
print(nome, aluna, monitora)

Helen Picoli
Poly Poly Helen Picoli

**Objetos, classes e instâncias**

_lembremos do nosso exemplo do quebra-cabeças (blocky games) estendido com ações que os animais podem fazer_

- Uma classe define as características e comportamentos que um objeto pode ter. É como um molde que pode ser usado para criar múltiplas instâncias (objetos) com propriedades e comportamentos semelhantes.

- Nesse contexto, uma "instância" refere-se a um objeto específico criado a partir de uma classe.

**tipo de dados pré-definidos em Python** 
- valores possíveis
- operações possíveis

In [ ]:
nome = 'Ana Clara'    # instancia da classe string
idade = 19            # instancia da classe inteiro
salario =  1234.56    # instancia da classe float


>  **sequencia de caracteres (string)**
- 'a...z' 'A...Z' '!@#$%¨&*()_-+='  '0123456789'
- soma: resulta na concatenacao
- multiplicacao: string multiplica pelo numero de vezes dado

>  **inteiro**
- de menos infinito a mais infinito, de uma em uma unidade
- *simplificao*: -999999999 a +999999999
- `+ - * / // % **`

> **float**
- de menos infinito a mais infinito, com infinitos valores entre cada um...
- *simplificao*: -999999999.99999999 a +999999999.9999999
- `+ - * / // % **`

In [ ]:
nome = 'Ana Clara 3'    # instancia da classe string
_nome = 'meu nome'
idade = 23            # instancia da classe inteiro
salario =  1234.56   # instancia da classe float

**Operadores válidos para inteiros**

In [ ]:
idade = 22
j = idade + 1
print(j)
j = idade - 1
print(j)
j = idade / 1
print(j)
j = idade // 1
print(j)
j = idade * 1
print(j)
j = idade % 1
print(j)
j = idade ** 1
print(j)

23
21
22.0
22
22
0
22

**Operadores válidos para strings**

In [ ]:
string1 = 'Ana Clara'
print(string1)
string1 = string1 + '!!!!'
print(string1)
string1 = string1 * 3
print(string1)

Ana Clara
Ana Clara!!!!
Ana Clara!!!!Ana Clara!!!!Ana Clara!!!!

**Operadores válidos para float**

In [ ]:
idade = 61.9
j = idade + 1
print(j)
j = idade - 1
print(j)
j = idade / 1
print(j)
j = idade // 1
print(j)
j = idade * 1
print(j)
j = idade % 1
print(j)
j = idade ** 1
print(j)

62.9
60.9
61.9
61.0
61.9
0.8999999999999986
61.9

In [ ]:
a = 13.5
b = 3
print(a + b)
print(a - b)
print(a / b)
print(a * b)

16.5
10.5
4.5
40.5

**RESUMINDO**

- tipos de dados de Python: valores possiveis e suas operacoes correspondentes
 - string
 - inteiro
 - float

- funções pre-definidas de Python, ex: 
 - `input()` 
 - `print()`
 - `int()`
 - `float()`

In [ ]:
entrada = input()
print(entrada * 3)

Leticia
LeticiaLeticiaLeticia

In [ ]:
inteiro = int(input())
print(inteiro * 3)

real = float(input())
print(real / 3)

34
102
3.141516
1.047172

#**2. SEQUENCIA DE COMANDOS VS EXECUÇÃO OPCIONAL DE COMANDOS**

EXECUÇÃO OPCIONAL
- ela vota? é obrigatório?
- ela pode ter CNH?
- ela pode fazer o Meninas Programadoras?

SINTAXE
```
if condição:
    # bloco de código executado se a condição for verdadeira
```

**OPERADORES DE COMPARAÇÃO**
>  `> >= < <= == !=`

In [ ]:
resposta = 'pode ter CNH'
idade = int(input())
if idade < 18:
  resposta = 'não ' + resposta
print(resposta)

61
pode ter CNH

In [ ]:
idade = int(input())
if idade > 18:
  print('pode ter CNH')
else:
  print('não pode ter CNH')

In [ ]:
idade = int(input())
if idade > 18:
  resposta = 'pode ter CNH'
else:
  resposta = 'não pode ter CNH'
print(resposta)

In [ ]:
pode = 'pode ter CNH'
nao_pode = 'não pode ter CNH'

idade = int(input())
if idade > 17:
  resposta = pode
else:
  resposta = nao_pode
print(resposta)

In [ ]:
if = 'ingles para "se"'    # erro de sintaxe porque a gente nao pode usar if para nome de variavel

In [ ]:
pode = 'pode ter CNH'
naopode = 'não '   # vou usar soma de naopode com pode

resposta = pode
idade = int(input())

print(resposta)

55
pode ter CNH

```
if condição:
    # bloco de código executado se a condição for verdadeira
elif condição:   OPCIONAL
    # bloco de código executado se a primeira condição for falsa e esta condição for verdadeira
else:  OPCIONAL
    # bloco de código executado se todas as condições anteriores forem falsas
```

In [ ]:
# tudo o que precisa

resolvidos = int(input())
if resolvidos == 100:
  print('selo 100% de exercicios resolvidos')

100
selo 100% de exercicios resolvidos

In [ ]:
# tudo o que precisa

resolvidos = int(input())
if resolvidos >=95:
  print('selo 100% de exercicios resolvidos')

84

In [ ]:
a = int(input())
b = int(input())
if a == b:
  print('a == b')
if a >= b:
  print('a >= b')
if a <= b:
  print('a <= b')
if a != b:
  print('a != b')

99
100
a <= b
a != b

In [ ]:
a = input()
b = input()
if a == b:
  print('a == b')
if a != b:
  print('a != b')

Maria
maria
a != b

In [ ]:
a = float(input())
b = float(input())
if a == b:
  print('a == b')
if a >= b:
  print('a >= b')
if a <= b:
  print('a <= b')
if a != b:
  print('a != b')

3.1415169
3.141516
a >= b
a != b

In [ ]:
idade = int(input())
if idade >= 16:
  print('pode votar')
  if idade >= 18:
    print('obrigatorio votar')

18
pode votar
obrigatorio votar

In [ ]:
idade = int(input())
if idade >= 16:
  print('pode votar')
  if idade >= 18:
    if idade < 60:
      print('obrigatorio votar')

60
pode votar

**OPERADORES LÓGICOS**
- and
- or 
- not

In [ ]:
idade = int(input())

if idade > 15 and idade < 18:
  print('voto jovem facultativo')
elif idade > 59:
  print('voto idoso facultativo')
elif idade >= 18:
  print('voto obrigatório')
else:
  print('nao pode votar ainda....')

In [ ]:
idade = int(input())
if idade == 16 or idade == 17 or idade >= 60:
  print('voto facultativo')
elif idade < 16:
  print('voto não permitido ainda.....')
else:
  print('voto obrigatorio')

31
voto obrigatorio

In [ ]:
idade = int(input())
if idade < 16:
  print('voto ainda nao permitido')
if idade ==  16:
  print('voto facultativo')
if idade ==  17:
  print('voto facultativo')
if idade >= 60:
  print('voto facultativo')
if idade >= 18 and idade <= 59:
  print('voto obrigatorio')

In [ ]:
idade = int(input())
if idade < 16:
  print('voto ainda nao permitido')
elif idade ==  16:
  print('voto facultativo')
elif idade ==  17:
  print('voto facultativo')
elif idade >= 60:
  print('voto facultativo')
elif idade >= 18 and idade <= 59:
  print('voto obrigatorio')

In [ ]:
idade = int(input())
if idade < 16:
  print('voto ainda nao permitido')
elif idade == 16 or idade ==  17:
  print('voto facultativo')
elif idade >= 60:
  print('voto facultativo')
elif idade >= 18 and idade <= 59:
  print('voto obrigatorio')

In [ ]:
nota = float(input())
if nota == 10.0:
  print('aluna do meninas programadoras nota 10')
else:
  print('aluna do meninas programadoras')

**maior entre dois valores**

In [ ]:
a = int(input())
b = int(input())

if a > b:
  print('a > b')
else:
  print('a <= b')

4
4
a <= b

In [ ]:
a = int(input())
b = int(input())

if a > b:
  print('a > b')
else:
  if a == b:
    print('a == b')
  else:
    print('a < b')

In [ ]:
a = int(input())
b = int(input())

if a > b:
  print('a > b')
elif a == b:
    print('a == b')
else:
    print('a < b')

**Quem é o maior? e o menor?**

> exemplo
- a = 0
- b = 0
- c = 0

> outro exemplo
- a = 100
- b = 111
- c = 10

> mais um exemplo
- a = 11
- b = 100
- c = 10

> mais outro exemplo
- a = 10
- b = 11
- c = 100

##**3. OPERADOR in**

O operador `in` é usado em Python para verificar se um valor está presente em uma sequência
> uma sequência é uma coleção ordenada de elementos
- a sequência que vimos até agora foi *string* 
- veremos outro tipo de sequência ainda neste curso

> O opeador 'in' retorna um valor booleano (True ou False) com base na existência ou não do valor na sequência.

A sintaxe básica do operador `in` é a seguinte:

```
valor in sequência
```
sendo
- *valor* aquele que queremos verificar
- *sequência* é a sequência na qual desejamos fazer a verificação

Exemplo: 
```
letra = input()
if letra in 'aeiou':
   print('é uma vogal')
else:
   print('não é uma vogal')
```

In [ ]:
s1 = 'nome'
s2 = 'sobrenome'
print(s1 in s2)

True

In [ ]:
s1 = "Indiferença"
s2 = "Respeito é fundamental"
print(s1 in s2)

False